* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

:root {
    --company-color: #016464;
}

.selected a {
    color: var(--company-color);
}

.selected {
    border-bottom: #016464 solid 0.15rem;
    padding-bottom: 2px;
}

h1, h2, h3, a, h4 {
    font-family: 'Plus Jakarta Sans';
}

h1 {
    font-size: clamp(1rem, 12.5vw, 48px);
    line-height: clamp(1rem, 15vw, 57.6px);
    overflow-y: hidden;
}

h2 {
    font-size: clamp(1rem, 12vw, 36px);
    line-height: clamp(1rem, 15vw, 46px);
}

h3 {
    font-size: clamp(1rem, 8vw, 24px);
    line-height: clamp(1rem, 15vw, 33.6px);
}

h4 {
    font-size: clamp(1rem, 8vw, 20px);
    line-height: clamp(1rem, 15vw, 28px);
}

p {
    font-family: 'Newsreader';
    font-size: clamp(0.5rem, 4.6155vw, 20px);
    line-height: clamp(1rem, 8vw, 32px);
    color: #3F4948;
}

a {
    color: #3F4948;
}

.button {
    border-radius: 1000px;
    border: var(--company-color) solid 2px;
}

/*=== HEADER ===*/

header {
    display: flex;
    padding: 20px 0;
    padding-right: clamp(0.1rem, 5vw, 24px);
    padding-left: clamp(0.1rem, 5vw, 24px);
    justify-content: space-between;
    align-items: center;
    background-color: #fbf9f8;
    border-bottom: #3f49481c solid 1px;
}

.logotipo {
    color: var(--company-color);
    display: flex;
    align-items: center;
    gap: clamp(10px, 2vw, 20px);
}

.logotipo a {
    text-decoration: none;
    color: #016464;
    font-weight: bold;
    font-size: clamp(1rem, 12vw, 24px);
}

#menu {
    width: clamp(18px, 5vw, 30px);
}

#header-categories {
    display: none;
}

#header-categories a {
    text-decoration: none;
    font-weight: 600;
}

#button-header {
    display: none;
}

/*=== MAIN ===*/

/*--- HERO ---*/

#hero-img {
    width: 100%;
    max-width: 592px;
}

#hero {
    padding: 80px 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: clamp(15px, 2vw, 30px);
    background-color: #fbf9f8;
}

#hero p {
    font-size: clamp(0.5rem, 5.2vw, 20px);
}

#hero-text {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#hero-buttons {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 30px;
    width: 100%;
    align-items: center;
}

#consult-button {
    width: 100%;
    max-width: 291px;
    height: 48px;
    background-color: var(--company-color);
    color: white;
    font-size: 16px;
}

#more-button {
    width: 100%;
    max-width: 291px;
    height: 48px;
    color: var(--company-color);
    font-size: 16px;
    background-color: #fbf9f8;
}

/* --- OUR SERVICES ---*/

#our-services {
    background-color: #f5f3f3;
    padding: 80px 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#our-services-top {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#cards-container {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-top: 48px;
}

.card-img {
    width: clamp(1rem, 20vw, 64px);
}

#check-ups-card,
#specialized-surgery-card,
#well-being-card {
    background-color: white;
    padding: 30px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    width: 100%;
    width: clamp(1rem, 85vw, 390px);
}

#check-ups-card h3,
#specialized-surgery-card h3,
#well-being-card h3{
    white-space: nowrap;
}

.card-bottom {
    color: var(--company-color);
    display: flex;
    gap: 5px;
    align-items: center;
    margin-top: 15px;
    font-family: 'Plus Jakarta Sans';
}

.card-bottom a {
    font-weight: 600;
    font-size: clamp(0.8rem, 5vw, 14px);
    color: var(--company-color);
}

.arrow {
    width: clamp(0.8rem, 1vw, 10px);
}

/* --- ABOUT US ---*/

#about-us-img {
    width: 100%;
    max-width: 592px;
}

#about-us {
    display: flex;
    flex-direction: column;
    padding: 80px 24px;
    background-color: #fbf9f8;
    align-items: center;
}

#about-us-top {
    margin-top: 48px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#about-us-top p {
    font-size: clamp(0.5rem, 6vw, 20px);
}

.topics-img {
    width: 100%;
    max-width: 35px;
    margin-bottom: 50px;
}

#about-us-topics {
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;
    justify-content: center;
    max-width: 675px;
}

#about-us-topic-1,
#about-us-topic-2 {
    display: flex;
    gap: 15px;
}

#about-us-topics-text-1,
#about-us-topics-text-2 {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

/* === FOOTER === */

#copy-right-footer-desktop {
    display: none;
}

footer {
    background-color: #eae8e7;
    padding: 80px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#info-footer {
    margin-top: 50px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#adress-footer,
#phone-number-footer,
#contact-footer {
    display: flex;
    gap: 10px;
}

#adress-footer p,
#phone-number-footer p,
#contact-footer p {
    font-size: clamp(0.5rem, 3.58974vw, 16px);
}

#terms-footer {
    display: flex;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
}

#copy-right-footer-mobile {
    margin-top: 50px;
}

#copy-right-footer-mobile p {
    font-size: clamp(0.5rem, 3.6vw, 20px);
}

@media (max-width: 389px) {
    #check-ups-card h3,
    #specialized-surgery-card h3,
    #well-being-card h3 {
        white-space: wrap;
    }
}

@media (min-width: 1280px) {

    /*=== HEADER ===*/
    #menu {
        display: none;
    }

    #header-categories {
        display: flex;
        flex-direction: row;
        text-decoration: none;
        gap: 35px;
    }

    #button-header {
        display: flex;
        width: 100%;
        max-width: 195px;
        height: 40px;
        background-color: var(--company-color);
        color: white;
        font-size: 16px;
        justify-content: center;
        align-items: center;
    }

    /*=== HERO ===*/

    #hero {
        flex-direction: row-reverse;
        align-items: center;
        text-align: left;
        justify-content: center;
    }

    #hero-buttons {
        flex-direction: row;
    }

    #more-button {
        max-width: 151px;
    }

    /*=== OUR SERVICES ===*/

    #cards-container {
        flex-direction: row;
    }

    /*=== ABOUT US ===*/

    #about-us {
        flex-direction: row;
        gap: 50px;
        justify-content: center;
    }

    /*=== FOOTER ===*/

    #copy-right-footer-desktop {
        display: inline;
    }

    #copy-right-footer-mobile {
        display: none;
    }

    footer {
        flex-direction: row;
        text-align: left;
        justify-content: center;
        gap: 80px;
    }

    #logotipo-copy-right-footer {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        max-width: 360px;
    }

    #info-footer {
        margin-top: 50px;
        margin-bottom: 30px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        white-space: nowrap;
    }

    #terms-footer {
        display: flex;
        justify-content: left;
        gap: 15px;
        flex-wrap: wrap;
    }
}