body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header{
    display: flex;
    align-items: center;
    gap: 30px;
    background-color: #071F3F;
    height: 100px;
    position: fixed;
    top: 0;
    width: 100%;
    border-bottom: #04162c solid 2px;
    box-shadow: 0 4px 6px -1px rgba(83, 83, 83, 0.623);
    z-index: 100;
}

.categorias-header{
    margin-left: auto;
}

.categorias-header ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 60px;
    margin-right: 60px;
}

.categorias-header a{
    color: #ffffff;
    text-decoration: none;
}

.categorias-header a:hover{
    color: #dadada;
    text-decoration: underline;
}

.logotipo{
    width: 80px;
    margin-left: 40px;
}

.titulo-subtitulo{
    color: #ffffff;
}

.titulo-subtitulo h1{
    margin: 0;
}

.titulo-subtitulo h2{
    margin: 0;
    font-weight: normal;
    font-size: 20px;
}

.categoria-artigo{
    color: #104fa1;
    font-weight: bold;
}

.artigos{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.artigo{
    display: flex;
    flex-direction: column;

    flex: 1 1 350px;
    max-width: 400px;

    border: 1px solid #071f3f;
    box-shadow: 0 4px 6px -1px rgba(83, 83, 83, 1);
    transition: transform .25s ease, box-shadow .25s ease;
}

.artigo:hover{
    transform: translateY(-5px);
    box-shadow: 0 4px 6px -1px rgb(29, 29, 29);
}

.conteudo-artigo{
    margin-left: 20px;
    margin-right: 20px;
}

.footer-artigo {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-between;
    margin: 0 20px 0 0;
    padding: 0;
}

.footer-artigo a{
    color: #071f3f;
    text-decoration: none;
}

.footer-artigo a:hover{
    color: #104fa1;
    text-decoration: underline;
}

.ponto-artigo{
    font-size: 20px;
    padding: 0;
}

.sidebar{
    flex:0 0 300px;

    display: flex;
    flex-direction: column;

    border: 1px solid #071f3f;
    box-shadow: 0 4px 6px -1px rgba(83, 83, 83, 0.438);
}

.sidebar p{
    margin-right: 20px;
    line-height: 1.8;
}

.conteudo-pagina{
    display:flex;
    gap:30px;
    align-items:flex-start;

    max-width:1400px;
    margin:130px 30px 50px;
    padding:0 20px;
}

.conteudo{
    flex: 1;
}

.conteudo-sidebar{
    margin-left: 25px;
}

.sidebar-sobre{
    display: flex;
    align-items: flex-start;
    gap: 10px;
}

.sidebar-sobre img{
    display: flex;
    align-items: flex-start;
    gap: 10px;
}

.categorias-sidebar ul li{
    margin-left: -20px;
    margin-bottom: 30px;
}

.categorias-sidebar{
    margin-top: 50px;
    margin-bottom: 70px;
}

.links-uteis ul li{
    margin-left: -20px;
    margin-bottom: 30px;
}

.categorias-sidebar h3{
    border-bottom: #071f3f solid 1px;
    width: 150px;
    padding-bottom: 10px;
    margin-bottom: 40px;
}

.categorias-sidebar a{
    color: #071f3f;
    text-decoration: none;
}

.categorias-sidebar a:hover{
    color: #104fa1;
    text-decoration: underline;
}

.links-uteis a{
    color: #071f3f;
    text-decoration: none;
}

.links-uteis a:hover{
    color: #104fa1;
    text-decoration: underline;
}


.links-uteis h3{
    border-bottom: #071f3f solid 1px;
    width: 150px;
    padding-bottom: 10px;
    margin-bottom: 40px;
}

.conteudo-sidebar{
    margin-top: 20px;
}

.conteudo-sidebar h2{
    margin-bottom: 0px;
}

footer{
    display: flex;
    background-color: #071F3F;
    height: 70px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    padding: 20px 0;
    border-top: #04162c solid 01px;

}

footer p{
    margin: 0;  
    color: #ffff;  
}

footer ul{
    display: flex;
    list-style: none;
    align-items: center;
    padding: 0;
    margin: 0;
    margin-bottom: -10px;
    gap: 5px;
}

.rota{
    margin:0 0 20px;
}

.rota a{
    text-decoration: none;
    color: #104fa1;
}

.conteudo-pagina-artigo{
    width: 100%;
}

.imagem-principal{
    width: 100%;
    max-width: 850px;
    height: auto;
}

.span{
    color: #104fa1;
}

.conteudo-pagina-artigo ul{
    display: flex;
    list-style: none;
    gap: 10px;
    align-items: center;
    justify-content: flex-start;
    padding: 0;
}

.conteudo-pagina-artigo ul li{
    display: flex;
    list-style: none;
    gap: 10px;
    align-items: center;
    justify-content: flex-start;
    padding: 0;
}

.conteudo-pagina-artigo ul img{
    width: 15px;
    padding: 0;
}

.conteudo-pagina-artigo h2{
    margin-top: 40px;
    padding: 0;
}

.conteudo-pagina-artigo p{
    margin-top: 10px;
    margin-bottom: 5px;
}

.linha-titulo{
    width: 40px;
    height: 2px;
    background-color: #104fa1;
    border: none;
    margin: 0;
    padding: 0;
    margin-top: -10px;
}

.link-fora{
    text-decoration: none;
    color: #104fa1;
    font-weight: bold;
    padding-top: -10px;
}

.voltar-inicio{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;

    width: 300px;
    padding: 10px;
    margin-top: 20px;

    border: 1px solid #104fa1;
    text-decoration: none;
    color: #104fa1;
}

.voltar-inicio:hover{
    border-color: #5882b8;
}

.conteudo-pagina-artigos{
    display: flex;
    gap: 30px;
    align-items: flex-start;

    max-width: 1400px;
    margin: 130px 30px 50px;
    padding: 0 20px;
}

article a:hover {
    text-decoration: underline;
} 

.conteudo-pagina-artigo img{
    border-radius: 5px;
}